:host ::ng-deep .bar {
    fill: cyan;
}

:host ::ng-deep .bar.current {
    fill: red;
}

:host ::ng-deep .bar.marked {
    fill: white;
}

ul.open {
    display: block;
}

ul:not(.open) {
    display: none;
}

[role="log"], #labels, .hidden {
    position: absolute;
    left: -999999px;
}