<script>

</script>
<header>
  <h1>Angular + D3</h1>
</header>
<!--
  <app-bar></app-bar>
  <app-pie></app-pie>
-->
<app-scatter [labelKey]="'System'" [xAxisKey]="'Erscheinungsdatum'" [yAxisKey]="'Sterne'" [data]="data" [title]="'Systeme und ihre Sterne im Vergleich zu ihrem Erscheinungsdatum'" [formatXAxisToInt]="true"></app-scatter>
<app-scatter [labelKey]="'name'" [xAxisKey]="'danceability'" [yAxisKey]="'energy'" [data]="bigData" [title]="'Spotify Data - Danceability vs. Energy'" [showLabel]="false" [radius]="4"></app-scatter>

<app-bar [data]="data" [yAxisKey]="'Sterne'" [labelKey]="'System'" [description]="'Systeme und die Sterne mit denen sie bewertet worden sind'"></app-bar>