<h2>Teil 3: Fehler finden</h2>
<ng-template [ngIf]="!testId">
    <a href="/fehlerFinden?testId=1">Test 1: Fehler finden</a>
    <br>
    <a href="/fehlerFinden?testId=2">Test 2: Fehler finden</a>
    <br>
    <a href="/fehlerFinden?testId=3">Test 3: Fehler finden</a>
    <!--
        <br>
        <a href="/fehlerFinden?testId=4">Test 4: Fehler finden</a>
        <br>
        <a href="/fehlerFinden?testId=5">Test 5: Fehler finden</a>
        <br>
        <a href="/fehlerFinden?testId=6">Test 6: Fehler finden</a>
    -->
    <br>
    <br>
    <a href="/">Zurück</a>
</ng-template>
<ng-template [ngIf]="testId === '1'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass die Neuzulassungen von Elektroautos in Österreich seit 2008 kontinuierlich gestiegen ist.</p>
    <app-line title="Anzahl der Neuzulassungen von Elektroautos in Österreich von 2008 bis 2023" [data]="[
    { date: '01-Jan-2008', Neuzulassungen: 2  },
    { date: '01-Jan-2009', Neuzulassungen: 39  },
    { date: '01-Jan-2010', Neuzulassungen: 112  },
    { date: '01-Jan-2011', Neuzulassungen: 631  },
    { date: '01-Jan-2012', Neuzulassungen: 427  },
    { date: '01-Jan-2013', Neuzulassungen: 654  },
    { date: '01-Jan-2014', Neuzulassungen: 1281  },
    { date: '01-Jan-2015', Neuzulassungen: 1677  },
    { date: '01-Jan-2016', Neuzulassungen: 3826  },
    { date: '01-Jan-2017', Neuzulassungen: 5433  },
    { date: '01-Jan-2018', Neuzulassungen: 6757  },
    { date: '01-Jan-2019', Neuzulassungen: 9242  },
    { date: '01-Jan-2020', Neuzulassungen: 15972  },
    { date: '01-Jan-2021', Neuzulassungen: 33366  },
    { date: '01-Jan-2022', Neuzulassungen: 34165  },
    { date: '01-Jan-2023', Neuzulassungen: 47621  },
    ]" xAxisKey="date" [yAxisKeys]="['Neuzulassungen']" yAxisUnit="Autos" xAxisLabel="Datum" yAxisLabel="Neuzulassungen" [yearlyDates]="true"
    summary="In der Visualisierung werden die Anteile von Neuzulassungen von Elektroautos von 2008 bis 2023 abgebildet, wobei auf der x-Achse die Zeit und auf der y-Achse die Anzahl der Neuzulassungen dargestellt wird. Die Anzahl der Neuzulassungen stiegen zuerst nur leicht, bis sie 2016 begonnen sich stärker zu erhöhen. Von 2017 auf 2018 war die Steigung allerdings nur sehr schwach, sie stieg darauf hin aber wieder stark an."></app-line>
</ng-template>
<ng-template [ngIf]="testId === '2'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass die unbeliebteste Teigwarenmarke in Österreich 2023 die Marke Buitoni war.</p>
    <app-bar title="Ranking der beliebtesten Teigwarenmarken in Österreich nach Kauf in letzter Zeit im Jahr 2023" [data]="[
    { Marke: 'Recheis', Anteil: 30 },
    { Marke: 'Barilla', Anteil: 28 },
    { Marke: 'Wolf', Anteil: 18 },
    { Marke: 'Buitoni', Anteil: 8 },
    { Marke: 'Landleben', Anteil: 8 },
    { Marke: 'Fritsch', Anteil: 6 },
    ]" yAxisKey="Anteil" labelKey="Marke" yAxisUnit="Prozent" summary="In der Visualisierung werden die beliebtesten Teigwarenmarken nach Kauf von dem Jahr 2023 abgebildet, wobei auf der y-Achse die Beliebtheit in Prozent dargestellt wird. Die Marken Recheis und Barilla waren dabei am beliebtesten, die Marke Fritsch am unbeliebtesten."></app-bar>
</ng-template>
<ng-template [ngIf]="testId === '3'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass je höher das BIP pro Kopf eines Landes ist, desto geringer ist der Anteil der Angestellten, die in der Agrikultur arbeiten.</p>
    <app-scatter title="BIP pro Kopf vs. Angestellte in der Agrikultur in 2015" labelKey="Land" xAxisKey="BIP pro Kopf" yAxisKey="Angestellte in Agrikultur" [formatXAxisToInt]="true" [radius]="4" [data]="data3" [showLabel]="false"
    xAxisUnit="internationale Dollar" yAxisUnit="Prozent" summary="In der nachfolgenden Visualisierung werden die Angestellte im Bereich Agrikultur gegenüber dem BIP pro Kopf eines Landes gestellt, wobei das BIP pro Kopf auf der x-Achse und die Angestellten in der Agrikultur auf der y-Achse dargestellt werden. Daraus geht hervor, dass der Anteil der Beschäftigten im Bereich Agrikultur sinkt, je höher das BIP pro Kopf eines Landes ist."
    ></app-scatter>
</ng-template>
<ng-template [ngIf]="testId === '4'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass das Bundesland Kärnten zu Jahresbeginn 2023 eine Einwohneranzahl von 568995 aufwies.</p>
    <app-bar title="Bevölkerung von Österreich nach Bundesländern zu Jahresbeginn 2023" [data]="[
    { Bundesland: 'Wien', 'Anzahl der Einwohner': 1982442 },
    { Bundesland: 'Niederoesterreich', 'Anzahl der Einwohner': 1718529 },
    { Bundesland: 'Oberoesterreich', 'Anzahl der Einwohner': 1523200 },
    { Bundesland: 'Steiermark', 'Anzahl der Einwohner': 1265422 },
    { Bundesland: 'Tirol', 'Anzahl der Einwohner': 771361 },
    { Bundesland: 'Kaernten', 'Anzahl der Einwohner': 568995 },
    { Bundesland: 'Salzburg', 'Anzahl der Einwohner': 568468 },
    { Bundesland: 'Vorarlberg', 'Anzahl der Einwohner': 406398 },
    { Bundesland: 'Burgenland', 'Anzahl der Einwohner': 301311 },
    ]" yAxisKey="Anzahl der Einwohner" labelKey="Bundesland" yAxisUnit="Personen" summary="In der nachfolgenden Visualisierung wird die Anzahl an Einwohner für jedes Bundesland in Österreich zu Beginn des Jahres 2023 dargestellt, wobei die Anzahl an Einwohner auf der y-Achse dargestellt wird. Die meisten Einwohner hatte zum Jahresbeginn Wien (1982442 Einwohner), gefolgt von Niederösterreich (1718529 Einwohner). Die wenigsten Einwohner hatte das Burgenland (301311 Einwohner)."></app-bar>
</ng-template>
<ng-template [ngIf]="testId === '5'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass der Werbeumsatz von Meta nicht kontinuierlich ansteigt seit 2010.</p>
    <app-line title="Werbeumsätze von Meta weltweit in den Jahren 2010 bis 2023 (in Millionen US-Dollar)" [data]="[
    { date: '01-Jan-2010', Umsatz: 1868  },
    { date: '01-Jan-2011', Umsatz: 3154  },
    { date: '01-Jan-2012', Umsatz: 4279  },
    { date: '01-Jan-2013', Umsatz: 6986  },
    { date: '01-Jan-2014', Umsatz: 11492  },
    { date: '01-Jan-2015', Umsatz: 17079  },
    { date: '01-Jan-2016', Umsatz: 26885  },
    { date: '01-Jan-2017', Umsatz: 39942  },
    { date: '01-Jan-2018', Umsatz: 55013  },
    { date: '01-Jan-2019', Umsatz: 69655  },
    { date: '01-Jan-2020', Umsatz: 84169  },
    { date: '01-Jan-2021', Umsatz: 114934  },
    { date: '01-Jan-2022', Umsatz: 113642  },
    { date: '01-Jan-2023', Umsatz: 131948  },
    ]" xAxisKey="date" [yAxisKeys]="['Umsatz']" xAxisLabel="Datum" yAxisLabel="Werbeumsatz" yAxisUnit="Millionen US-Dollar"  summary="In der nachfolgenden Visualisierung werden die Werbeumsätze von Meta weltweit von 2010 bis 2023 dargestellt, wobei die Zeit auf der x-Achse und die Umsätze auf der y-Achse dargestellt werden. Zu Beginn stiegen die Umsätze langsam, ab 2015 dann stärker an. Von 2021 auf 2022 gab es einen leichten Rückgang der Umsätze, allerdings stiegen sie im Jahr darauf wieder an. 2023 hatte Meta einen Werbeumsatz von 131948 Millionen US-Dollar." [yearlyDates]="true"></app-line>
</ng-template>
<ng-template [ngIf]="testId === '6'">
    <p tabindex="0">In der nachfolgenden Visualisierung ist ersichtlich, dass der Anteil der Raucher unter Erwachsenen im Jahr 2015 umso höher war, desto höher das BIP pro Kopf des Landes war (in internationalen $)</p>
    <app-scatter title="BIP pro Kopf vs. Anteil der Raucher bei Erwachsenen, 2015" labelKey="Land" xAxisKey="BIP pro Kopf" yAxisKey="Raucher bei Erwachsenen" [formatXAxisToInt]="true" [radius]="4" [data]="data6" [showLabel]="false"
    xAxisUnit="internationale Dollar" yAxisUnit="Prozent" summary="In der folgenden Visualisierung wird das BIP pro Kopf von Ländern mit dem Anteil von Rauchern unter Erwachsenen gegenübergestellt, wobei der Anteil der Raucher auf der y-Achse und das BIP pro Kopf auf der x-Achse dargestellt werden. Es ist ersichtlich, dass es einen leichten Trend gibt, dass je höher das BIP pro Kopf eines Landes ist, desto niedriger wird der Anteil der Raucher unter Erwachsenen."></app-scatter>
</ng-template>
<ng-template [ngIf]="!!testId">
    <a href="/fehlerFinden">Zurück</a>
</ng-template>
