<h2>{{ title }}</h2>
<button
    [id]="menuId + '_BUTTON'"
    tabindex="-1"
    type="menu"
    aria-haspopup="true"
    [attr.aria-controls]="menuId"
    [attr.aria-expanded]="menuIsOpen"
    (keydown)="menuKeyDown($event)"
    #menuButton>
    Visualisierungs-Interaktionen
</button>
<div role="log" aria-live="assertive" aria-relevant="all" #liveRegion>
</div>
<ul *ngIf="menuIsOpen"
    [id]="menuId"
    role="menu"
    [attr.aria-labelledby]="menuId + '_BUTTON'"
    #menuList>
    <li id="MenuItemNavigate" role="menuitem" (keydown)="menuItemKeyDown($event, 0)">Serielles Navigieren durch Daten</li>
    <li id="MenuItemSummary" role="menuitem" (keydown)="menuItemKeyDown($event, 1)">Zusammenfassung</li>
    <li id="MenuItemSearch" role="menuitem" aria-haspopup="true" [attr.aria-expanded]="searchMenuIsOpen" [attr.aria-controls]="menuId + '_SEARCH'" (keydown)="searchMenuKeyDown($event, 2)" #searchMenuButton>Suchen
        <ul *ngIf="searchMenuIsOpen" [id]="menuId + '_SEARCH'" #searchMenuList>
            <li id="SearchMenuX" role="menuitem" (keydown)="searchMenuItemKeyDown($event, 0)">Suchen nach x-Achsen Wert</li>
            <li id="SearchMenuY" role="menuitem" (keydown)="searchMenuItemKeyDown($event, 1)">Suchen nach y-Achsen Wert</li>
            <li id="SearchMenuLabel" role="menuitem" (keydown)="searchMenuItemKeyDown($event, 2)">Suchen nach Label</li>
        </ul>
    </li>
    <li id="MenuItemSonification" role="menuitem" (keydown)="menuItemKeyDown($event, 3)">Sonification</li>
    <li id="MenuItemMarks" role="menuitem" aria-haspopup="true" [attr.aria-expanded]="markMenuIsOpen" [attr.aria-controls]="menuId + '_MARKS'" (keydown)="markMenuKeyDown($event, 4)" #markMenuButton>Markierungen</li>
    <ul *ngIf="markMenuIsOpen" [id]="menuId + '_MARKS'" #markMenuList>
        <li role="menuitem" (keydown)="markMenuItemKeyDown($event, 0)">Gesetzte Makierungen löschen</li>
        <li role="menuitem" (keydown)="markMenuItemKeyDown($event, 1)">Zu makierten Datenpunkten</li>
    </ul>
</ul>
<form *ngIf="showSearchform" (submit)="triggerSearch($event)">
    <label class="search-label" for="search">{{ searchMenuPlaceholder }}</label>
    <input id="search" type="text" [placeholder]="searchMenuPlaceholder" #searchFieldInput (keydown)="searchFieldInputKeyDown($event)">
    <input class="button" type="submit" value="Suchen" (keydown)="searchFieldButtonKeyDown($event)">
</form>
<form *ngIf="showDeleteMarksForm">
    <input class="button" type="submit" [value]="currNumberOfMarks + ' Markierungen löschen'" (keydown)="markFormButtonKeyDown($event)" #deleteMarksButton>
    <input class="button" type="submit" value="Abbrechen" (keydown)="markFormButtonKeyDown($event)" #cancelDeleteMarksButton>
</form>
<figure [id]="scatterId" id="" #figureElement>
</figure>