:host ::ng-deep .scatterCircle {
    fill: cyan;
}

:host ::ng-deep .scatterCircle.current {
    fill: red;
}

:host ::ng-deep .scatterCircle.marked {
    fill: white;
}

ul.open {
    display: block;
}

ul:not(.open) {
    display: none;
}

[role="log"], .hidden {
    position: absolute;
    left: -999999px;
}